html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* start here */

html {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
    background-color: #cce2ff;
}

h1, h2 {
    
    color: #483949;
    line-height: 1.25em;
    text-decoration: none;
    
}

a {
    color: inherit;
    border-bottom: solid 1px rgba(128, 128, 128, 0.15);
    text-decoration: none;

}
a:hover {
    color: #ef8376;
    
}

/* THIS IS THE TOP PART */
.top {
    background-image: url("img/header.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
    padding: 0 0 10em 0;
    width: 100%;
}
nav ul{
    display: flex;
    justify-content: center;
    width: 100%;   
}

nav ul li {
    display: flex;
    padding: 2%;
}
.top header {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 120px;
    align-items: center;
}
.top header h1 {
    font-size: 5em;
    padding: 49px 0;
    color: #fff;
    border-bottom: 1px solid black;
}
header button {
    display: inline-block;
    border-radius: 100%;
    width: 4.5em;
    height: 4.5em;
    line-height: 4.5em;
    text-align: center;
    font-size: 1.25em;
    padding: 0;
    background: #ef8376;
    color: #fff;
}

.top header p {
    font-size: 1.5em;
    padding: 49px 0;
    border-top: 1px solid black; 
}

/* THIS IS THE MIDDLE PART */

.middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
}
.middle h2 {
    padding-left:10%;
    font-size: 4em;
}

.Screenshot {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px 0;
}
article {
    text-align: center;
    line-height: 200%;
    
}

/* THIS IS THE BOTTOM PART */

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
    
}
.bottom img {
    width: 95%;
    height: 250px;
   padding-left: 2.5%;
}

.BotTitle {
    text-align: center;
    padding: 10px 0;
    font-size: 2em;
}

.BotPar {
    padding: 10px 0;
    font-size: 1.3em;
    line-height: 120%;
    width: 80%;
    text-align: center;
}
.bottom button {		
	background: #df7366;
	color: #fff;
	text-align: center;
	border-radius: 0.5em;
	text-decoration: none;
	padding: 0.65em 3em 0.65em 3em;
	border: 0;
	cursor: pointer;
	outline: 0;	
}